body {
  background: white;
  display:flex;
  justify-content: center;
}
.main {
  background:white;
  margin: auto;
  padding: 10px;
  border: 5px solid #2a1e1a;
}
.outer {
  width: 80%;
  margin: auto;
}
.main-outer {
  background: #a76466;
  border: 2px solid #2a1e1a;
  padding: 20px;
}
i {
  letter-spacing: 2px;
}
.nav, .nav-a, .a-body, i, b, u, a {
  color:#3d466e;
  text-decoration: none; 
}
.a-body {
  text-decoration: underline;
}
.nav-a {
  display: block;
  border-bottom: 1px solid #2a1e1a;
  border-top: 1px solid #2a1e1a;
  padding: 5px;
  margin-bottom: 20px;
}
.nav-a:hover {
  opacity: .6;
  font-weight: bold;
}
@media only screen and (max-width: 480px) {
  .nav-a {

  }
  .nav {

  }
}