#body {
	margin: 0 0 0 0;
	padding: 0px;
}
#maintext {
	width: 100%;
	margin: 0 0 0 0;
}

#cs, #calteach, #photography {
	width: 100%;
	font-size: 20px;
	height: 200px;
	color: #fff;
	text-align: center;
	display: table;
	transition: font-size 1s;
}

#cs:hover, #calteach:hover, #photography:hover {
	transition: font-size 1s;
	font-size: 30px;
}

span {
	margin: auto;
	text-align: center;
	display: table-cell;
	vertical-align: middle;
}

#cs {
	background: #A6645E;
}

#calteach {
	background: #3E496C;
}

#photography {
	background: #B39996;
}