@font-face {
  font-family: 'Voga';
  src: url('fonts/Voga-Medium.otf');
}

@import url('http://fonts.googleapis.com/css?family=Open+Sans:400,300,700,600');

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    opacity: .5;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s
}

.sidenav a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}


p, body {
  background-color: #fff;
  text-decoration: none;
  font-size: 13px;
  color: #000;
  font-family: 'Open Sans', sans-serif;
}
img {
  display: inline-block;
}
h1 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 5px;  
  font-size: 18px;
  color: #000;
  padding:5px;
  border: 2px SOLID #C6DBDA;
}
h2 {
  font-family: 'Open Sans';
  font-weight: 300;
  font-size:20px;
  text-transform: uppercase;
  letter-spacing: 5px;
}
a {
  text-decoration: none;
  font-size: 16px;
  font-weight:300;
  color: #000;
  font-family: 'Open Sans', sans-serif;
}
b {color: #F07241;}
i {color: #9EAFAE;}

#footer {
  text-align: center;
  bottom: 0px;
  width:100%;
  padding:10px;
}
.sidebar {
  width: 50px;
  top:0;
  left:0;
  color: #fff;
  height: 100vh;
  background: white;
  overflow: hidden;
  position:absolute;
}
.maintext {
  padding: 15px;
  background: #fff;
  margin: auto;
  width: 80vw;
  text-align: left;
  color: black;
}

#description {
  height: 200px;
  width: 600px;
  padding:5px;
  border: 2px SOLID #C6DBDA;
  overflow: auto;
  margin:auto;
}

