@font-face {
  font-family: 'Voga';
  src: url('fonts/Voga-Medium.otf');
}

@import url('http://fonts.googleapis.com/css?family=Open+Sans:400,300,700,600');

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #808B96;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  opacity: 0.5;
  text-align:left;
}

.sidenav a {
  padding-left: 15px;
  text-decoration: none;
  font-size: 15px;
  color: white;
  display: block;
  transition: 0.3s
}

.sidenav a:hover, .offcanvas a:focus{
  color: black;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}


@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}


p, body, #maintext {
  padding: 15px;
  text-align: left;
  color: black;
  background-color: #F8F9F9;
  text-decoration: none;
  font-size: 13px;
  font-family: 'Open Sans', sans-serif;
}

#maintext {
  transition: margin-left .5s;
  overflow:hidden; 
  height:100vh; 
  width: 90%; 
  margin-left:50px;
}
img {
  display: inline-block;
}

h1 {
  font-family: 'Open Sans';
  font-weight: 300;
  color: #808B96;
  font-size:18px;
  text-transform: uppercase;
  letter-spacing: 5px;
}
a {
  text-decoration: none;
  font-size: 16px;
  font-weight:300;
  color: #000;
  font-family: 'Open Sans', sans-serif;
}
b, i {color: #808B96;}

#footer {
  text-align: center;
  bottom: 0px;
  width:100%;
  padding:10px;
}
#sidebar {
  width: 50px;
  top:0;
  left:0;
  color: #808B96;
  height: 100vh;
  background: white;
  overflow: wrap;
  position: absolute;
  opacity:.5;
}
#sidebar:hover {
  opacity: 1;
}


#description {
  height: 200px;
  width: 600px;
  padding:5px;
  border: 2px SOLID #C6DBDA;
  overflow: auto;
  margin:auto;
}

