body {
  background-color: #fff;
  font-size: 13px;
  font-family: "Open Sans", "Helvetica", "Arial", sans serif;
}
h1 {
  text-align: left;
  font-size: 30px;
  font-family: arial;
  color: #333344;
  border-bottom: SOLID #333344 2px;
}
h2 {
  font-family: arial;
  font-size: 25px;
  color: #333344;
  border-bottom: 2px dotted #333344;
  margin-left: -10px;
  padding: 2px;
}
h3 {
  height: 15px;
  font-family: arial;
  text-align: right;
  color: #333344;
  margin-top: -20px;
}
#side {
  padding: 20px;
  height: 100%;
  width: 200px;
  background: #eeeeee;
  margin-top: -113px;
  left: 20px;
  font-family: tahoma;
}
#topcolor {
  background: #333344;
  width: 100%;
  margin-left: 0px;
  margin-right: 0px;
  height: 33px;
}
#twocolor {
  background: #777788;
  margin-left: 0px;
  margin-right: 0px;
  width: 100%;
  height: 33px;
}
#threecolor {
  background: #aaccaa;
  margin-left: 0px;
  margin-right: 0px;
  width: 100%;
  height: 33px;
}
#maintext {
  padding: 12px;
  background: #eeeeee;
  margin-top: auto;
  margin-right: auto;
  margin-left: 325px;
  margin-top: -113px;
  width: 850px;
  height: 100%;
  font-family: tahoma;
  position: fixed;
  text-align: left;
  overflow: scroll;
}
.link {
  display: block;
  height: 30px;
  width: 100px;
  font: tahoma;
  font-size: 20px;
  text-decoration: none;
  color: #333344;
}
#story {
  height: 200px;
  width: 600px;
  background: #eeeeee;
  border: 2px solid #333344;
  padding: 5px;
  overflow: auto;
  margin-left: auto;
  margin-right: auto;
}
a:hover {
  font-size: 20px;
  text-align: right;
}
