{% load staticfiles %}

body {
	background: url("{% static 'img/header.jpg' %}");
	background-size: auto 100%;
	background-repeat: no-repeat;
	height: 100vh;
	overflow: hidden;
}
#maintext {
	width: 30%;
	position: absolute;
	overflow: hidden;
	right:0;
	top:0;
}