{% extends "base.html" %}
{% load staticfiles %}

<!-- head tag data -->
{% block title %} Morgan Rae Reschenberg {% endblock %}


<!-- MainText content-->
{% block content %}

	<h1>About Me</h1>

	<h2>Header Two</h2>
	  All HTML and Stylesheets must be recognized as safe by our filter and all code must be properly formatted. This will protect you and your Neopets from deranged code Mynci. You will receive an error notice if the Filter finds a problem, otherwise it simply accepts it. Learn more about the hows and the whys here.Cleaner Code, Better Browsing and A Safer Neopia!All HTML and Stylesheets must be recognized as safe by our filter and all code must be properly formatted. This will protect you and your Neopets from deranged code Mynci. You will receive an error notice if the Filter finds a problem, otherwise it simply accepts it. Learn more about the hows and the whys here.Cleaner Code, Better Browsing and A Safer Neopia!


	<h2>Header Two</h2>
	  All HTML and Stylesheets must be recognized as safe by our filter and all code must be properly formatted. This will protect you and your Neopets from deranged code Mynci. You will receive an error notice if the Filter finds a problem, otherwise it simply accepts it. Learn more about the hows and the whys here.Cleaner Code, Better Browsing and A Safer Neopia!
	All HTML and Stylesheets must be recognized as safe by our filter and all code must be properly formatted. This will protect you and your Neopets from deranged code Mynci. You will receive an error notice if the Filter finds a problem, otherwise it simply accepts it. Learn more about the hows and the whys here.Cleaner Code, Better Browsing and A Safer Neopia!
	All HTML and Stylesheets must be recognized as safe by our filter and all code must be properly formatted. This will protect you and your Neopets from deranged code Mynci. You will receive an error notice if the Filter finds a problem, otherwise it simply accepts it. Learn more about the hows and the whys here.Cleaner Code, Better Browsing and A Safer Neopia!
	All HTML and Stylesheets must be recognized as safe by our filter and all code must be properly formatted. This will protect you and your Neopets from deranged code Mynci. You will receive an error notice if the Filter finds a problem, otherwise it simply accepts it. Learn more about the hows and the whys here.Cleaner Code, Better Browsing and A Safer Neopia!

	<h2>Header Two</h2>
	  All HTML and Stylesheets must be recognized as safe by our filter and all code must be properly formatted. This will protect you and your Neopets from deranged code Mynci. You will receive an error notice if the Filter finds a problem, otherwise it simply accepts it. Learn more about the hows and the whys here.Cleaner Code, Better Browsing and A Safer Neopia!
	All HTML and Stylesheets must be recognized as safe by our filter and all code must be properly formatted. This will protect you and your Neopets from deranged code Mynci. You will receive an error notice if the Filter finds a problem, otherwise it simply accepts it. Learn more about the hows and the whys here.Cleaner Code, Better Browsing and A Safer Neopia!
	All HTML and Stylesheets must be recognized as safe by our filter and all code must be properly formatted. This will protect you and your Neopets from deranged code Mynci. You will receive an error notice if the Filter finds a problem, otherwise it simply accepts it. Learn more about the hows and the whys here.Cleaner Code, Better Browsing and A Safer Neopia!
	All HTML and Stylesheets must be recognized as safe by our filter and all code must be properly formatted. This will protect you and your Neopets from deranged code Mynci. You will receive an error notice if the Filter finds a problem, otherwise it simply accepts it. Learn more about the hows and the whys here.Cleaner Code, Better 

{% endblock %}

{% block footer %}
	<br><br>Copyright Morgan Rae Reschenberg 2017<br>
    100% Oringinal content unless otherwise noted. Please do not reproduce without permission.
{% endblock %}

{% block javascripts %}
	<script src="{% static 'js/menu.js' %}"></script>
{% endblock %}
