{% load staticfiles %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>

    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}" />

    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,300,700,600" rel="stylesheet" type="text/css"/>
    {% block css %}
    {% endblock %}    
  </head>
  <body>
    <div id="mySidenav" class="sidenav">
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>  

      <a href="/">Home</a>
      <a href="/about/">About Me</a>
      <a href="/projects/">Projects</a>
      <a href="/organisations/">Organisations</a>
      <a href="img/Resume.pdf">Resume</a>
      <a href="mailto:mreschenberg@berkeley.edu"><img src="{% static 'img/cloud.png' %}" height="25" width="25"> Email</a><br>
      <a href="https://www.linkedin.com/in/morgan-rae-reschenberg-28b521a7"><img src="{% static 'img/linkedin.png' %}" height="25" width="25"> LinkedIn </a><br>
      <a href="https://github.com/MReschenberg"><img src="{% static 'img/git.png' %}" height="25" width="25"> GitHub </a><br>
      <a href="https://www.instagram.com/makxine/"><img src="{% static 'img/insta.png' %}" height="25" width="25"> Instagram </a><br>
    </div>

    <div id="sidebar">
      <span style="font-size:30px;cursor:pointer;color:black;padding:10px;" onclick="openNav()">&#9776;</span>
    </div>


    <div id="maintext">
        {% block content %}
        {% endblock %}
        
        <div id="footer">
          {% block footer %}
          {% endblock %}
        </div>
    </div>



    {% block javascripts %}
    {% endblock %}
  </body>
</html>
