{% extends "base.html" %}
{% load staticfiles %}

<!-- head tag data -->
{% block title %} Morgan Rae Reschenberg {% endblock %}
	
{% block css %}
<link href="{% static 'css/index.css' %}" rel="stylesheet">
{% endblock %}


<!-- MainText content-->
{% block content %}
	<span style="display:table-cell; vertical-align: middle;">
	<h1>Hello World</h1>
	My name is Morgan Rae Reschenberg and I'm currenlty a sophomore studying Computer Science and STEM Education at UC Berkeley as a Regents' and Chancellor's scholar. To view my past and present projects, learn more about my involvement in CS and Education, or contact me, use the links in the menu to the left.
	<br><Br>
	Copyright Morgan Rae Reschenberg 2017<br>100% oringinal content unless otherwise noted. Please do not reproduce without permission.<BR>  
	</span>
	<br><br><br>
{% endblock %}


<!-- Javascript Stuff -->
{% block javascripts %}
    <script src="{% static 'js/mainMenu.js' %}"></script>
{% endblock %}
