{% extends "base.html" %}
{% load staticfiles %}

<!-- head tag data -->
{% block title %} Morgan Rae Reschenberg {% endblock %}

{% block css %}
<link href="{% static 'css/projlanding.css' %}" rel="stylesheet">
{% endblock %}

<!-- MainText content-->
{% block content %}
 <div id="cs">Computer Science</div>
 <div id="calteach">CalTeach</div>
 <div id="photography">Photography</div>
{% endblock %}

{% block footer %}
	<br><br>Copyright Morgan Rae Reschenberg 2017<br>
    100% Oringinal content unless otherwise noted. Please do not reproduce without permission.
{% endblock %}

<!-- Javascript Stuff -->
{% block javascripts %}
    <script src="{% static 'js/menu.js' %}"></script>
{% endblock %}
