{% extends "base.html" %}
{% load staticfiles %}

<!-- head tag data -->
{% block title %} Morgan Rae Reschenberg {% endblock %}

{% block css %}
<link href="{% static 'css/projlanding.css' %}" rel="stylesheet">
{% endblock %}

<!-- MainText content-->
{% block content %}
 <div id="cs"><a href="/cs/" class="barlinks">Computer Science</a></div>

 <div id="calteach"><a href="/calteach/" class="barlinks">CalTeach</a></div>

 <div id="photography"><a href="/photography/" class="barlinks">Photography</a></div>
{% endblock %}

<!-- Javascript Stuff -->
{% block javascripts %}
    <script src="{% static 'js/menu.js' %}"></script>
{% endblock %}
